body {
  @include font('body');
  color: var(--color-text);
  background: var(--color-background);
}

main {
  isolation: isolate;
}

a {
  color: inherit;
}

::selection {
  color: var(--color-background);
  background: var(--color-dash);
}
